@import '@/styles/colors';
.content-page {
  min-height: 80vh;
  padding: 15px;
}
.esignature-steps {
  .v-expansion-panels {
    z-index: unset;
  }
  .v-sheet.v-stepper {
    height: 82vh;
  }
  .v-stepper__items {
    height: calc(100vh - 195px);
    overflow-y: auto;
    padding: 0 10px;
  }
  .v-stepper__content {
    padding: 0;
  }
  .step1-header {
    flex: 0.5 !important;
  }
  .v-stepper__header {
    height: 40px;
  }
  .v-stepper__step {
    flex: 1;
    padding: 10px 10px 20px 10px;
    .v-stepper__label {
      font-size: 14px;
      font-weight: 600;
      color: $black;
      text-transform: capitalize;
    }
  }
  .v-stepper__step {
    &::after {
      border-radius: 0;
      content: '';
      width: 100%;
      position: absolute;
      bottom: 10px;
      height: 4px;
      background: #c1c9d2;
      border-radius: 10px;
    }
    .v-stepper__step__step {
      text-indent: -9999px;
      background: transparent !important;
      border: 2px solid #c1c9d2;
      width: 20px;
      height: 20px;
      min-width: unset;
    }
  }
  .step3 {
    background: transparent;
  }
  .step1 {
    .v-stepper__step__step {
      border: 5px solid $blue-light;
    }
    &::after {
      background: $blue-light;
    }
  }
  .v-stepper__step.v-stepper__step--complete {
    .v-stepper__step__step {
      background: #6b7280 !important;
      border: none;
    }
    &::after {
      background: #6b7280;
    }
  }
  .v-stepper__step--active {
    &::after {
      background: $blue-light;
    }
  }
  .v-stepper__step--active {
    .v-stepper__step__step {
      border: 5px solid $blue-light;
    }
  }
  .hide-label {
    &::after {
      border-radius: 10px;
    }
    .v-stepper__step__step {
      display: none;
    }
  }
  .item-esignature-type {
    width: 20%;
    cursor: pointer;
    &.active {
      .esignature-type-content {
        &::after {
          content: '';
          width: 0;
          height: 0;
          border-left: 18px solid transparent;
          border-right: 18px solid transparent;
          border-top: 18px solid $blue-light;
          position: absolute;
          left: 50%;
          bottom: -18px;
          transform: translateX(-50%);
        }
      }

      hr {
        background: #73d3f3 !important;
      }
      .esignature-desc,
      .esignature-type {
        color: #fff;
      }
      .v-card {
        background: $blue-light;
      }
      i {
        border-color: $blue-light;
        color: $blue-light;
      }
    }
    position: relative;
    overflow: unset;
    .v-card {
      background: #e7ecf1;
      border-radius: 20px !important;
    }
    .esignature-desc {
      height: 50px;
      text-align: center;
      margin-top: 20px;
      font-size: 14px;
    }
    .esignature-type {
      color: $black;
      font-weight: 700;
    }
    i {
      width: 50px;
      height: 50px;
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      border: 2px solid #fff;
      border-radius: 50% !important;
      text-align: center;
      background: #fff;
      color: $black;
    }
  }
}

.esignature-wrap-content {
  height: calc(100vh - 257px);
  overflow-y: auto;
  padding: 20px 20px 0 20px;
}
.esignature-wrap-content-step-2 {
  height: calc(100vh - 305px);
  overflow-y: auto;
  padding: 20px 20px 0 20px;
}
@media (max-width: 1440px) {
  .esignature-wrap-content {
    height: calc(100vh - 280px);
  }
  .esignature-wrap-content-step-2 {
    height: calc(100vh - 320px);
  }
}
@media (max-width: 1280px) {
  .esignature-wrap-content {
    height: calc(100vh - 280px);
  }
  .esignature-wrap-content-step-2 {
    height: calc(100vh - 320px);
  }
}
.text-add {
  font-size: 20px;
  font-weight: 600;
}
.icon-add {
  position: absolute !important;
  right: 20px;
}
.group-sign-esignature {
  margin-bottom: 30px;
  box-shadow: unset !important;
  &.group-blue {
    border: 1px solid $primary;
  }
  &.group-cyan {
    border: 1px solid $cyan;
  }
  &.group-cyan {
    .header-panel {
      background: $cyan;
    }
  }
  .header-panel {
    padding: 5px 20px;
    cursor: move;
    background: $primary;
    .index-panel {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      text-align: center;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
      font-weight: 600;
    }
    .title-panel {
      color: #fff;
      font-weight: 800;
      font-size: 18px;
      text-transform: capitalize;
    }
  }
  .theme--light.v-input {
    .v-input__slot {
      background: #fff;
    }
  }
  .v-input--checkbox {
    .v-input__slot {
      background: transparent !important;
    }
  }
  .content-panel {
    .v-expansion-panel-header {
      font-size: 16px;
      font-weight: 600;
      min-height: 50px;
      color: $black;
    }
    .v-expansion-panel-content__wrap {
      padding: 5px;
    }
  }
  .color-sign {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .from-group-sign {
    border-radius: 8px;
    margin: 15px 0;
    margin-bottom: 10px;
    padding: 15px;
    cursor: move;
  }
  .btn-remove-signer {
    position: absolute;
    left: 15px;
  }
  .btn-remove-signator {
    cursor: pointer;
    position: absolute;
    right: 5px;
    color: #ff5252;
    background-color: #fff;
    border-radius: 50%;
    padding: 2px;
    top: 5px;
  }
}
.custom-file-pdf {
  // Tool PDF
  .main__tool {
    background: #e8e9eb;
    height: calc(100vh - 247px);
    padding-bottom: 8px;
    margin-bottom: 0 !important;
  }

  .tool {
    display: flex;
    justify-content: space-between;
    height: calc(100% - 50px);
    .tool__preview {
      width: 200px;
      background: #fff;
      border: 1px solid #e8e9eb;
      border-radius: 5px;
      height: 100%;
      padding-top: 0;
      margin-left: 2px;
      overflow-y: auto;
      .pdf-viewer > .page {
        margin-top: 20px;
      }
    }

    //File pdf
    .tool__workarea {
      text-align: center;
      height: 100%;
      padding: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -ms-flex: 1 1 0%;
      flex: 1 1 0%;
      background-color: #fff;
      overflow-y: auto;
      overflow-x: hidden;
      position: relative;
      border-radius: 5px;
      margin: 0 10px;

      .pdf-viewer > .page {
        margin-top: 20px;
      }
    }

    .tool__sidebar {
      width: 250px;
      height: 100%;
      background: #fff;
      border-radius: 5px;
      padding: 10px;
      margin-right: 3px;
      .v-tab {
        flex: 1 !important;
        text-transform: capitalize;
        font-size: 14px;
        color: #22242c;
        font-weight: 600;
      }
      .sign-item {
        border: 1px solid #7b8794;
        border-radius: 8px;
        position: relative;
        margin: 10px;
        margin-top: 60px;
        padding: 10px;
        cursor: pointer;
        .text-sign {
          color: #22242c;
          font-size: 18px;
          font-weight: 600;
          text-align: center;
        }
        .note-sign {
          font-size: 14px;
          border-top: 1px solid #22242c;
          margin-top: 5px;
          padding-top: 5px;
        }
        .add-sign-item {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: -35px;
        }
        .count-sign {
          position: absolute;
          top: -10px;
          right: -14px;
          border: 2px solid #7b8794;
          font-weight: 700;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          font-size: 14px;
          color: #8e8ea1;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #fff;
        }
      }
    }

    .activePagePreview canvas {
      border: 1px solid #0fafe4;
    }
  }
  .tool__header {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-right: 7px;
    padding-bottom: 5px;
    padding-left: 2px;
    .esignature-file-name {
      width: 200px;
      height: 40px;
    }
    .tool__nav {
      margin: 0 auto;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .input-page {
      background: #0fafe4;
      width: 40px;
      height: 30px;
      border-radius: 8px;
      font-size: 14px;
      color: #fff;
      text-align: center;
      font-weight: 600;
    }
  }
}
.sign-item-added {
  background: #fffbdc;
  border-radius: 8px;
  border: 1px solid #0fafe4;
  padding: 10px 5px;
  width: 160px;
  position: absolute;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  @media screen and (max-width: 1440px) {
    width: 152px;
  }

  i {
    color: #0fafe4;
  }
  .sign-item-remove {
    position: absolute !important;
    top: -5px;
    right: -5px;
    color: #ff5252 !important;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
  }
  .sign-item-more {
    position: absolute !important;
    top: -10px;
    right: -5px;
    color: #0fafe4 !important;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #0fafe4;
  }
  .note-sign {
    font-size: 14px;
    border-top: 1px solid #0fafe4;
    margin-top: 5px;
    padding-top: 5px;
  }
  .wrap-edit-signer {
    &.active {
      display: block;
    }
    display: none;
    position: absolute;
    background: #252733;
    color: #fff;
    width: 100%;
    border-radius: 8px;
    top: 100%;
    left: 0;
    margin-top: 10px;
    padding: 5px 0;
    &::before {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #252733;
      position: absolute;
      top: -5px;
    }
    ul {
      padding: 0;
      list-style: none;
      width: 100%;
      li {
        margin-bottom: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          color: #fff;
          font-size: 20px;
          margin-right: 10px;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .item-esignature-type {
    .esignature-type {
      margin-top: 10px !important;
      margin-bottom: 10px !important;
    }
    .esignature-type-content {
      padding: 5px !important;
    }
    .esignature-desc {
      margin-top: 5px !important;
      max-width: 250px !important;
    }
  }
  .esignature-steps
    .item-esignature-type.active
    .esignature-type-content::after {
    bottom: -14px;
  }
  .esignature-wrap-content {
    .wrap-types {
      padding-top: 10px !important;
      padding-bottom: 15px !important;
    }
  }
  .esignature-wrap-content-step-2 {
    .wrap-types {
      padding-top: 10px !important;
      padding-bottom: 15px !important;
    }
  }
  .esignature-steps .item-esignature-type i {
    width: 30px;
    height: 30px;
    font-size: 20px !important;
    top: -20px;
    border: 1px solid #ccc;
  }
}
.text-dialog-header {
  text-transform: capitalize;
}
.divSignName {
  width: 30px;
  height: 10px;
}
.group-select-signer {
  max-height: 260px;
  overflow-y: auto;
  margin-bottom: 20px;
}
.signature-dialog-edit {
  transition: all 0.3s ease;
  .v-card__title {
    line-height: 1.2;
  }
  .v-input--radio-group__input {
    align-items: flex-start;
  }
}

.esignature-wrap-select-page-sign {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  align-items: center;

  .wrap-items {
    max-height: 180px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  .item-select-page-sign {
    border-radius: 5px;
    border: 1px dashed #727070;
    margin: 15px;
    margin-bottom: 20px;
    position: relative;
    .btn-remove-select-page-sign {
      position: absolute;
      top: -20px;
      right: -15px;
      border-radius: 50%;
      background: #fff;
    }
  }
}
.file-name-one {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  height: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  width: 50px;
  width: 200px;
  .text-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
