.list-comment-task{
    background-color: #e4e6eb!important;
  .v-image__image--cover{
    background-size: unset;
  }

  .comment-task{
    overflow-y: auto;
    height: calc(22vh - 12px)!important;
  }
  .v-input__slot{
    border-radius: 16px!important;
  }

}

.emoji_picker{
left: 390px!important;
}