#core-navigation-drawer {
  .v-list-group--active {
    div.v-list-item--active {
      .icon-manager-ticket::before {
        content: '';
        background: url(../assets/icons/menu/qlyyeucau/active.png) no-repeat;
        width: 50px;
        height: 46px;
        background-size: 100% 100%;
        display: inline-block;
      }
      .icon-ticket-request::before {
        background: url(../assets/icons/menu/dsyc/active.png) no-repeat;
        content: "";
        width: 50px;
        height: 46px;
        background-size: 100% 100%;
        display: inline-block;
      }
      div > .v-list-item__title {
        color: #0fafe4 !important;
      }
    }
  }
  .active {
    
    .icon-ticket-type::before {
      background: url(../assets/icons/menu/loaiyc/active.png) no-repeat;
      content: "";
      width: 50px;
      height: 46px;
      background-size: 100% 100%;
      display: inline-block;
    }
    .icon-report::before {
      background: url(../assets/icons/menu/baocao/active.png) no-repeat;
      content: "";
      width: 50px;
      height: 46px;
      background-size: 100% 100%;
      display: inline-block;
    }
    .icon-ticket-me::before {
      background: url(../assets/icons/menu/dot/active.png) no-repeat;
      content: "";
      width: 10px;
      height: 10px;
      background-size: 100% 100%;
      display: inline-block;
    }
    .icon-ticket-account::before {
      background: url(../assets/icons/menu/dot/active.png) no-repeat;
      content: "";
      width: 10px;
      height: 10px;
      background-size: 100% 100%;
      display: inline-block;
    }
    .icon-tag::before {
      background: url(../assets/icons/menu/dot/active.png) no-repeat;
      content: "";
      width: 10px;
      height: 10px;
      background-size: 100% 100%;
      display: inline-block;
    }
  }
  .icon-manager-ticket::before {
    background: url(../assets/icons/menu/qlyyeucau/Inactive.png) no-repeat;
    content: "";
    width: 50px;
    height: 46px;
    background-size: 100% 100%;
    display: inline-block;
  }
  .icon-ticket-request::before {
    background: url(../assets/icons/menu/dsyc/Inactive.png) no-repeat;
    content: "";
    width: 50px;
    height: 46px;
    background-size: 100% 100%;
    display: inline-block;
  }
  .icon-ticket-type::before {
    background: url(../assets/icons/menu/loaiyc/Inactive.png) no-repeat;
    content: "";
    width: 50px;
    height: 46px;
    background-size: 100% 100%;
    display: inline-block;
  }
  .icon-report::before {
    background: url(../assets/icons/menu/baocao/Inactive.png) no-repeat;
    content: "";
    width: 50px;
    height: 46px;
    background-size: 100% 100%;
    display: inline-block;
  }
  .icon-ticket-me::before {
    background: url(../assets/icons/menu/dot/Inactive.png) no-repeat;
    content: "";
    width: 10px;
    height: 10px;
    background-size: 100% 100%;
    display: inline-block;
  }
  .icon-ticket-me::before {
    background: url(../assets/icons/menu/dot/Inactive.png) no-repeat;
    content: "";
    width: 10px;
    height: 10px;
    background-size: 100% 100%;
    display: inline-block;
  }
  .icon-ticket-account::before {
    background: url(../assets/icons/menu/dot/Inactive.png) no-repeat;
    content: "";
    width: 10px;
    height: 10px;
    background-size: 100% 100%;
    display: inline-block;
  }
  .icon-tag::before {
    background: url(../assets/icons/menu/dot/Inactive.png) no-repeat;
    content: "";
    width: 10px;
    height: 10px;
    background-size: 100% 100%;
    display: inline-block;
  }
}
  