.dialog-change-password {
  h4.title-form {
    font-size: 12px;
    text-transform: uppercase;
    color: #4b506d;
    font-weight: 700;
  }
  h4 {
    div {
      font-size: 18px;
      color: #252733;
    }
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 25px;
    li {
      margin-bottom: 25px;
      color: #4b506d;
      font-weight: 400;
      font-size: 12px;
      display: flex;
      align-items: center;
      margin-left: 20px;
      position: relative;
      span {
        transform: translateY(-50%);
        top: 50%;
        position: absolute;
        left: -25px;
        .icon-validate {
          width: 16px;
          height: 16px;
          display: inline-block;
          position: relative;
          top: 3px;
          &.valid {
            background: url("../assets/icons/change-password/valid.svg")
              no-repeat;
            background-size: 100% 100%;
          }
          &.invalid {
            background: url("../assets/icons/change-password/invalid.svg")
              no-repeat;
            background-size: 100% 100%;
          }
          &.normal {
            background: url("../assets/icons/change-password/normal.svg")
              no-repeat;
            background-size: 100% 100%;
          }
        }
      }

      @media (max-width: 1336px) {
        font-size: 10px;
        font-weight: 400;
      }
    }
  }
}
.wrap-change-password {
  padding: 20px;
  margin: 0 20px;
  .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    label {
      text-transform: uppercase;
      color: #000 !important;
      font-size: 13px;
      position: relative;
      font-weight: bold;
      text-align: right;
    }
    .col {
      padding: 12px 0 0 0;
    }
    .wrap-users-list {
      position: relative;
      .wrap-users {
        position: absolute;
        width: 100%;
        top: 50px;
        max-height: 300px;
        overflow-y: auto;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-top: 2px;
        z-index: 1;
        background: #fff;
      }
    }
  }
}
