$primary: #0fafe4;
$danger: #ff4a55;
$warning: #ffb74a;
$info: #6160dc;
$gray: #8e8ea1;
$black: #22242c;
$dark-gray: #4b506d;
$blue-light: #54c5eb;
$success: #35c28e;
$cyan: #20c7e0;
$color-completed: #00c3f9;
$color-process: #ffaf2e;
$color-reject: #ff1d1d;

// Define colors
$color-warning: #ffaf2e;
$color-danger: #ff4a55;
$color-blue: #1c49e9;
$color-cyan: #0fafe4;
$color-cyan-light: #00c3f9;
$color-pink: #f028a0;
$color-puple: #4318ff;
$color-gray-1: #22242c;
$color-gray-2: #4e5056;
$color-gray-3: #7a7c80;
$color-gray-4: #a7a7ab;
$color-gray-5: #d3d3d5;
// color ticket
$darken: #22242c;
$gray-light: #C1C9D2;
$purple: #4A50E2;
$grey: #F5F7F9;
$overlay: #E7ECF1;
$yellow-ff: #ffaf2e;
$blue-4a: #4A50E2;
$organe-fd: #FD8538;
$organe-ff: #FFE7D7;
$pink-f0: #F028A0;
$gray-f9: #F9F9F9;
$pink-ff: #FFDBDD;
$gray-d3: #d3d3d5;
$gray-f3: #F3F9FF
