.v-application {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: normal;
    color: #22242c;
  }

  .nowrap {
    white-space: nowrap;
  }

  label {
    font-weight: 400;
    margin-bottom: 0;
  }

  .v-card__title h5 {
    padding-top: 15px;
  }

  .text--subtitle-1 {
    font-weight: 600;
    font-size: 20px !important;
  }

  .text--subtitle {
    font-weight: 600;
    font-size: 18px !important;

    th {
      font-size: 16px !important;
    }
  }

  .text--subtitle-2 {
    font-weight: 700;
    font-size: 18px !important;
  }

  .text--subtitle-3 {
    font-weight: 400;
    font-size: 12px !important;
  }
    .text--button {
      font-weight: 500 !important;
      font-size: 14px !important;
      *:not(i) {
        font-size: 14px !important;
        font-weight: 500;
      }
    }

    .text--label {
      font-weight: 500 !important;
      font-size: 14px !important;

      *:not(i) {
        font-size: 14px !important;
        font-weight: 500;
      }

      .v-messages__message {
        font-size: 12px !important;
      }
    }

    .text--label-1 {
      font-weight: 500;
      font-size: 16px !important;

      label,
      span {
        font-size: 16px !important;
      }

      input {
        font-weight: 600;

        &:active::placeholder,
        &:focus::placeholder {
          font-weight: 600;
          font-size: 12px !important;
        }
      }

      .v-messages__message {
        font-size: 12px !important;
      }
    }

    .text--label-2 {
      font-weight: 500;
      font-size: 14px !important;
    }

    .text--label-3 {
      font-weight: 700 !important;
      font-size: 14px !important;

      *:not(i) {
        font-size: 14px !important;
        font-weight: 700;
      }

      .v-messages__message {
        font-size: 12px !important;
      }
    }

    .text--label-5 {
      font-weight: 400;
      font-size: 14px !important;

      label,
      span {
        font-size: 14px !important;
      }
    }

    .text--lg {
      font-weight: 700;
      font-size: 20px !important;

      label,
      span {
        font-size: 20px !important;
      }
    }

    .text--body {
      font-weight: 400;
      font-size: 16px !important;

      input {
        font-weight: 400;
        font-size: 16px !important;

        &:active::placeholder,
        &:focus::placeholder {
          font-weight: 400;
          font-size: 16px !important;
        }
      }
    }

    .text--body-1,
    .apexcharts-yaxis-label {
      font-weight: 600 !important;
      font-size: 16px !important;

      input {
        font-weight: 600 !important;
        font-size: 16px !important;

        &:active::placeholder,
        &:focus::placeholder {
          font-weight: 600 !important;
          font-size: 16px !important;
        }
      }
    }

    .text--body-1-7 {
      font-weight: 700 !important;
      font-size: 16px !important;
    }

    .text--body-2 {
      font-weight: 400;
      font-size: 14px !important;

      *:not(i, h5) {
        font-size: 14px !important;
      }
    }

    .text--body-3 {
      font-weight: 400;
      font-size: 12px !important;

      *:not(i) {
        font-weight: 400;
        font-size: 12px !important;
      }

      .text-wrap {
        font-size: 12px !important;
      }
    }

    .text--body-4 {
      font-weight: 400;
      font-size: 14px !important;

      *:not(i) {
        font-size: 14px !important;
      }
    }

    .text--body-5 {
      font-weight: 600 !important;
      font-size: 14px !important;

      *:not(i) {
        font-size: 14px !important;
        font-weight: 600 !important;
      }

      input {
        font-weight: 600 !important;

        &:active::placeholder,
        &:focus::placeholder {
          font-weight: 600 !important;
          font-size: 14px !important;
        }
      }
    }

    .text--caption {
      font-size: 13px !important;
      font-weight: 400 !important;

      *:not(i) {
        font-size: 13px !important;
        font-weight: 400 !important;
      }
    }

    .text--caption-1 {
      font-size: 13px !important;
      font-weight: 400 !important;
    }

    .text--overlined {
      font-size: 12px !important;
      font-weight: 400;
    }

    .text--overlined-1 {
      font-size: 12px !important;
      font-weight: 600 !important;
    }

    .text--overlined-2 {
      font-size: 10px !important;
      font-weight: 400;
    }

    h1 {
      font-size: 48px !important;
      font-weight: 700;
    }

    h2 {
      font-size: 40px !important;
      font-weight: 700 !important;
    }

    h3 {
      font-size: 32px !important;
      font-weight: 700;
    }

    h4 {
      font-size: 24px !important;
      font-weight: 700;
    }

    h5 {
      font-size: 20px !important;
      font-weight: 700 !important;

      :not(i) {
        font-size: 20px !important;
        font-weight: 700 !important;
      }
    }

    h6 {
      font-size: 18px !important;
      font-weight: 700;
    }

    .size-14 {
      font-size: 14px !important;

      label {
        font-size: 14px !important;
      }
    }

    .size-10 {
      font-size: 10px !important;
    }
    
    .text--normal {
      text-transform: none;
    }

    @media (max-width: 1336px) {
      .v-label {
        font-size: 14px;
      }

      .text--subtitle {
        font-weight: 600;
        font-size: 16px !important;

        th {
          font-size: 14px !important;
        }
      }

      .text--subtitle-2 {
        font-weight: 700;
        font-size: 16px !important;
      }

      .text--body {
        font-weight: 400;
        font-size: 14px !important;

        input {
          font-weight: 400;
          font-size: 14px !important;

          &:active::placeholder,
          &:focus::placeholder {
            font-weight: 400;
            font-size: 14px !important;
          }
        }
      }

      .text--body-1,
      .apexcharts-yaxis-label {
        font-weight: 600 !important;
        font-size: 14px !important;

        input {
          font-weight: 600 !important;
          font-size: 14px !important;

          &:active::placeholder,
          &:focus::placeholder {
            font-weight: 600 !important;
            font-size: 14px !important;
          }
        }
      }

      .text--body-2 {
        font-size: 12px !important;

        *:not(i, h5) {
          font-size: 12px !important;
        }
      }

      .text--body-3 {
        font-weight: 400;
        font-size: 10px !important;

        *:not(i) {
          font-weight: 400;
          font-size: 10px !important;
        }

        .text-wrap {
          font-size: 10px !important;
        }
      }

      .text--body-4 {
        font-weight: 400;
        font-size: 13px !important;

        *:not(i) {
          font-weight: 400;
          font-size: 13px !important;
        }
      }

      .text--body-5 {
        font-weight: 600 !important;
        font-size: 13px !important;

        *:not(i) {
          font-size: 13px !important;
          font-weight: 600 !important;
        }

        input {
          font-weight: 600 !important;

          &:active::placeholder,
          &:focus::placeholder {
            font-weight: 600 !important;
            font-size: 13px !important;
          }
        }
      }

      .text--body-6 {
        font-weight: 600 !important;
        font-size: 13px !important;

        input {
          font-weight: 600 !important;

          &:active::placeholder,
          &:focus::placeholder {
            font-weight: 600 !important;
            font-size: 13px !important;
          }
        }
      }

      .text--caption {
        font-size: 11px !important;
        font-weight: 400 !important;

        *:not(i) {
          font-size: 11px !important;
          font-weight: 400 !important;
        }
      }

      .text--label {
        font-weight: 500 !important;
        font-size: 13px !important;

        *:not(i) {
          font-weight: 500;
          font-size: 13px !important;
        }
      }

      .text--label-1 {
        font-weight: 500;
        font-size: 14px !important;

        label,
        span {
          font-size: 14px !important;
        }
      }

      .text--label-3 {
        font-weight: 700 !important;
        font-size: 13px !important;

        *:not(i) {
          font-size: 13px !important;
          font-weight: 700;
        }
      }

      .text--label-4 {
        font-weight: 500;
        font-size: 13px !important;

        label,
        span {
          font-size: 13px !important;
        }
      }

      .text--label-5 {
        font-weight: 400;
        font-size: 13px !important;

        label,
        span {
          font-size: 13px !important;
        }
      }

      .text--overlined {
        font-size: 10px !important;
        font-weight: 400;
      }

      .text--lg {
        font-size: 18px !important;

        label,
        span {
          font-size: 18px !important;
        }
      }

      h1 {
        font-size: 40px !important;
        font-weight: 700;
      }

      h2 {
        font-size: 36px !important;
        font-weight: 700 !important;
      }

      h3 {
        font-size: 24px !important;
        font-weight: 700;
      }

      h4 {
        font-size: 20px !important;
        font-weight: 700;
      }

      h5 {
        font-size: 18px !important;
        font-weight: 700 !important;

        :not(i) {
          font-size: 18px !important;
          font-weight: 700 !important;
        }
      }

      h6 {
        font-size: 16px !important;
        font-weight: 700;
      }
    }

    @media (max-width: 960px) {
      .text--subtitle {
        font-weight: 600;
        font-size: 14px !important;

        th {
          font-size: 14px !important;
        }
      }

      .text--subtitle-2 {
        font-weight: 700;
        font-size: 14px !important;
      }

      .text--label {
        font-weight: 500;
        font-size: 12px !important;

        *:not(i) {
          font-weight: 500;
          font-size: 12px !important;
        }
      }

      .text--label-1 {
        font-weight: 500;
        font-size: 12px !important;

        label,
        span {
          font-size: 12px !important;
        }
      }

      .text--label-3 {
        font-weight: 700 !important;
        font-size: 12px !important;

        *:not(i) {
          font-size: 12px !important;
          font-weight: 700;
        }
      }

      .text--body {
        font-weight: 400;
        font-size: 12px !important;

        input {
          font-weight: 400;
          font-size: 12px !important;

          &:active::placeholder,
          &:focus::placeholder {
            font-weight: 400;
            font-size: 12px !important;
          }
        }
      }

      .text--body-4 {
        font-weight: 400;
        font-size: 10px !important;

        *:not(i, h5) {
          font-size: 10px !important;
        }
      }

      .text--body-5 {
        font-weight: 600 !important;
        font-size: 10px !important;

        *:not(i) {
          font-size: 10px !important;
          font-weight: 600 !important;
        }

        input {
          font-weight: 600 !important;

          &:active::placeholder,
          &:focus::placeholder {
            font-weight: 600 !important;
            font-size: 10px !important;
          }
        }
      }

      .text--body-6 {
        font-weight: 600 !important;
        font-size: 10px !important;

        input {
          font-weight: 600 !important;

          &:active::placeholder,
          &:focus::placeholder {
            font-weight: 600 !important;
            font-size: 10px !important;
          }
        }
      }

      .text--lg {
        font-size: 16px !important;

        label,
        span {
          font-size: 16px !important;
        }
      }

      .text--caption {
        font-size: 12px !important;
        font-weight: 400 !important;

        *:not(i) {
          font-size: 12px !important;
          font-weight: 400 !important;
        }
      }

      h1 {
        font-size: 32px !important;
        font-weight: 700;
      }

      h2 {
        font-size: 24px !important;
        font-weight: 700 !important;
      }

      h3 {
        font-size: 18px !important;
        font-weight: 700;
      }

      h4 {
        font-size: 14px !important;
        font-weight: 700;
      }

      h6 {
        font-size: 14px !important;
        font-weight: 700;
      }
    }

}