// Width common
.w-0 {
  width: 0;
}
.w-50 {
  width: 50px;
}
.w-100 {
  width: 100px;
}
.w-110 {
  width: 110px;
}
.w-120 {
  width: 120px;
}
.w-140 {
  width: 140px;
}
.w-150 {
  width: 150px;
}
.w-160 {
  width: 160px;
}
.w-200 {
  width: 200px !important;
}
.w-240 {
  width: 240px !important;
}
.w-450 {
  width: 450px !important;
}
.w-500 {
  width: 500px !important;
}

// max-width
.mw-100 {
  max-width: 100px !important;
}
.mw-120 {
  max-width: 120px !important;
}
.mw-150 {
  max-width: 150px !important;
}
.mw-175 {
  max-width: 175px !important;
}
.mw-200 {
  max-width: 200px !important;
}
.mw-210 {
  max-width: 210px !important;
}
.mw-225 {
  max-width: 225px !important;
}
.mw-240 {
  max-width: 240px !important;
}
.mw-300 {
  max-width: 300px !important;
}
.mw-350 {
  max-width: 350px !important;
}
.mw-400 {
  max-width: 400px !important;
}

// width percent
.wp-100 {
  width: 100% !important;
}
