/*TABLE*/
.esignature-content-list-process {
  .v-data-table__wrapper {
    table {
      thead {
        th {
          color: #9fa2b4 !important;
          background: #e7ecf1 !important;
          height: 44px !important;
          box-shadow: none !important;
          &.stt {
            width: 4%;
          }
          &.document-name {
            width: 14%;
          }
          &.textForm {
            width: 8%;
          }
          &.urgency {
            width: 8%;
          }
          &.signer {
            width: 12%;
          }
          &.textStatus {
            width: 12%;
          }
          &.processingProgress {
            width: 13%;
          }
          &.processStatus {
            width: 10%;
          }
          &.dateCreated {
            width: 8%;
          }
          &.action {
            width: 11%;
          }
        }
      }
    }
  }
}
.theme--light.v-data-table
  > .v-data-table__wrapper
  > table
  > tbody
  > tr:not(:last-child)
  > td:not(.v-data-table__mobile-row),
.theme--light.v-data-table
  > .v-data-table__wrapper
  > table
  > tbody
  > tr:not(:last-child)
  > th:not(.v-data-table__mobile-row) {
  border-bottom: thin solid rgba(0, 0, 0, 0.04) !important;
}
.esignature-content-list {
  .v-data-table > .v-data-table__wrapper,
  .wrap-empty-list {
    height: calc(100vh - 285px) !important;
    min-height: 65vh;
  }
}
.esignature-content-list-process {
  .v-data-table > .v-data-table__wrapper,
  .wrap-empty-list {
    height: calc(100vh - 300px) !important;
    min-height: 65vh;
  }
}
.content-list-dashboard {
  .tb-wait-sign.v-data-table > .v-data-table__wrapper {
    height: calc(100vh - 560px) !important;
    min-height: 40vh;
  }
}
.item-action {
  max-width: auto;
  span {
    font-size: 14px;
    font-weight: 400;
  }
}
/*PAGING*/
.info-paging {
  font-size: 14px;
}
.control-paging {
  span {
    font-weight: 600;
    font-size: 14px;
  }
}
.current-page {
  background: #0fafe4;
  color: #fff !important;
  border-radius: 8px;
  padding: 0px 10px;
}
.v-data-table__wrapper {
  .header-table {
    .th-document-name {
      padding-left: 10px !important;
    }
  }
}
@media (max-width: 1440px) {
  .esignature-content-list-process {
    .v-data-table > .v-data-table__wrapper,
    .wrap-empty-list {
      height: calc(100vh - 300px) !important;
      min-height: 53vh;
    }
  }
  .esignature-content-list {
    .v-data-table > .v-data-table__wrapper,
    .wrap-empty-list {
      height: calc(100vh - 280px) !important;
      min-height: 54vh;
    }
  }
  .content-list-dashboard {
    .tb-wait-sign.v-data-table > .v-data-table__wrapper {
      height: calc(100vh - 410px) !important;
      min-height: 38vh;
    }
  }
}
@media (max-width: 1280px) {
  .esignature-content-list-process {
    .v-data-table > .v-data-table__wrapper,
    .wrap-empty-list {
      height: calc(100vh - 310px) !important;
      min-height: 51vh;
    }
  }
  .esignature-content-list {
    .v-data-table > .v-data-table__wrapper,
    .wrap-empty-list {
      height: calc(100vh - 400px) !important;
      min-height: 55vh;
    }
  }
  .v-data-table__wrapper {
    table {
      thead {
        th {
          color: #9fa2b4 !important;
          background: #e7ecf1 !important;
          height: 40px !important;
        }
      }
      tbody {
        tr {
          td {
            height: 58px !important;
          }
        }
      }
    }
  }
  .item-action {
    max-width: auto;
    span {
      font-size: 12px;
      font-weight: 400;
    }
  }

  .v-text-field .v-input__control .v-input__slot {
    min-height: 36px !important;
    display: flex !important;
    align-items: center !important;
  }
  .v-btn:not(.v-btn--rounded):not(.v-btn--round).v-size--default {
    height: 36px !important;
    border-radius: 8px;
    padding: 0 10px !important;
  }
}
